
h1 {text-align: center; color: darkgreen;}
#scoreLink { text-align: center; color: blueviolet;}
span {
    background-color: fuchsia; display: inline-flex;
    height:70px;
    width:150px;font-size: 70px;
}

body {background-color: pink;}
#start {color:darkmagenta; width:100px;height: 60px;px;
        border-radius: 25px;
        border: 2px solid darkmagenta ;
        padding: 20px;
      }

      img { 
        border-radius: 25px;
        border: 10px solid lavenderblush;
        padding: 2px;
        width: 200px;
        height: 250px;
      }

